<div class="d-flex flex-column simulation-controls">
    <div class="input-group">
        <button class="btn btn-secondary" (click)="loadLocalMap('assets/maps/intersection.json')">Intersection</button>
        <button class="btn btn-secondary" (click)="loadLocalMap('assets/maps/merge_loop.json')">Merge Loop</button>
        <input #customMapInput type="text" class="form-control" placeholder="input custom map JSON url" aria-describedby="btnGroupAddon2" />
        <button class="btn btn-secondary" id="btnGroupAddon2" (click)="loadMap(customMapInput.value)">Load Custom Map</button>
    </div>
    <canvas class="h-90 w-100" id="traffic-sim"></canvas>
</div>